@charset "ISO-8859-1";
table, th, td {
  border: 1px solid black;
}

body  
{  
    margin: 0;  
    padding: 0;  
    background-color:#6abadeba;  
    font-family: 'Arial';  
} 
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
.right_nav {
  position: right;
  width: 100%;
  background-color: green;
  color: white;
  text-align: center;
}